@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Baner */
.baner {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #f1f1f1;
}

.baner__text {
    font-family: 'Bebas Neue', sans-serif;
}

.baner__text h1 {
    font-size: 28px;
    font-weight: 500;
}

.baner__text p {
    font-size: 22px;
    font-weight: 300;
}

.n-logo img {
    width: 48px;
    height: 48px;
}