/* Font: Inter */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Variables */
:root {
    --font: 'Inter', sans-serif;
    --fs: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
